# Webhook URL oxiridagi "/" bilan, masalan: https://company.bitrix24.ru/rest/1/abcd1234/
SRC_WEBHOOK=https://SIZNING-PORTAL.bitrix24.ru/rest/1/XXXXXXXX/
DST_WEBHOOK=https://SIZNING-PORTAL.bitrix24.kz/rest/1/YYYYYYYY/
