# Webhook URL oxiridagi "/" bilan, masalan: https://company.bitrix24.ru/rest/1/abcd1234/
B24_RU_WEBHOOK=https://SIZNING-PORTAL.bitrix24.ru/rest/1/XXXXXXXX/
B24_KZ_WEBHOOK=https://SIZNING-PORTAL.bitrix24.kz/rest/1/YYYYYYYY/
